<!DOCTYPE html>
<html>

<head>
    <title>IA para Cultivos - Data de las plantas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ms-1" href="#">
            <img src="../images/logo.png" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus.html">Planta A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Planta B</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item me-3">
                    <div class="btn-group dropstart">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                                height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M858.5 763.6a374 374 0 0 0-80.6-119.5 375.63 375.63 0 0 0-119.5-80.6c-.4-.2-.8-.3-1.2-.5C719.5 518 760 444.7 760 362c0-137-111-248-248-248S264 225 264 362c0 82.7 40.5 156 102.8 201.1-.4.2-.8.3-1.2.5-44.8 18.9-85 46-119.5 80.6a375.63 375.63 0 0 0-80.6 119.5A371.7 371.7 0 0 0 136 901.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8 2-77.2 33-149.5 87.8-204.3 56.7-56.7 132-87.9 212.2-87.9s155.5 31.2 212.2 87.9C779 752.7 810 825 812 902.2c0 4.4 3.6 7.8 8 7.8h60c4.4 0 7.9-3.5 8-7.8a372.96 372.96 0 0 0-78.5-139.4zm-457 164.5c-155.3 0-282-126.7-282-282s126.7-282 282-282s282 126.7 282 282s-126.7 282-282 282zm0-512c-123.7 0-224 100.3-224 224s100.3 224 224 224s224-100.3 224-224s-100.3-224-224-224z">
                                </path>
                            </svg>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Mi perfil</a></li>
                            <li><a class="dropdown-item" href="#">Configuración</a></li>
                            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Planta de Trigo (B)</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>Últimas cosechas</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha de cosecha</th>
                            <th>Promedio de agua llovida</th>
                            <th>Promedio de temperatura</th>
                            <th>Promedio de humedad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10/05/2023</td>
                            <td>18 ML</td>
                            <td>26°C</td>
                            <td>75%</td>
                        </tr>
                        <tr>
                            <td>25/04/2023</td>
                            <td>15 ML</td>
                            <td>24°C</td>
                            <td>80%</td>
                        </tr>
                        <tr>
                            <td>10/04/2023</td>
                            <td>12 ML</td>
                            <td>23°C</td>
                            <td>78%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Cosecha actual</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Condiciones actuales:</h5>
                        <ul>
                            <li>Agua: 20 ML</li>
                            <li>Temperatura: 28°C</li>
                            <li>Humedad: 70%</li>
                        </ul>
                        <!-- Recomendadas -->
                        <h5>Recomendaciones:</h5>
                        <ul>
                            <li>Agua: 18 ML</li>
                            <li>Temperatura: 26°C</li>
                            <li>Humedad: 75%</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5>Fecha de cosecha estimada:</h5>
                        <p>30/05/2023</p>
                        <h5>Estado de la planta:</h5>
                        <p>Madurando</p>
                        <!-- mas datos -->
                        <h5 class="mt-3">Cuánto agua regar:</h5>
                        <p>3 ML</p>
                        <h5>De qué manera:</h5>
                        <!-- hazlo industrialmente -->
                        <ul>
                            <li>0.3 ML cada 2hs</li>
                            <li>Manualmente</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="chart-container">
            <canvas id="chartPlantaA"></canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./chartPlantA.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>

</html>